<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">k8s management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ if eq .nav `home` }} active {{ end }}">
            <a class="nav-link" href="{{ urlfor `HomeController.Index` }}">首页</a>
            </li>

            <li class="nav-item {{ if eq .nav `user` }} active {{ end }}">
            <a class="nav-link" href="{{ urlfor `UserController.Query` }}">用户管理</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ if eq .nav `k8s` }}active{{ end }}" href="DeploymentController.QueryPod" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kubernetes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbar Dropdown">
                    <a class="dropdown-item {{ if eq .nav `deployment` }}active{{ end }}" href="{{ urlfor `DeploymentController.QueryPod` }}">Pod 查询</a>
                    <a class="dropdown-item {{ if eq .nav `deployment` }}active{{ end }}" href="{{ urlfor `SvcController.QuerySvc` }}">SVC 查询</a>
                    <a class="dropdown-item {{ if eq .nav `deployment` }}active{{ end }}" href="{{ urlfor `DeploymentController.Query` }}">Deployment 查询</a>
                    <a class="dropdown-item {{ if eq .nav `deployment` }}active{{ end }}" href="{{ urlfor `DaemonsetController.Query` }}">Daemonset 查询</a>
                    <a class="dropdown-item {{ if eq .nav `deployment` }}active{{ end }}" href="{{ urlfor `SecretsController.Query` }}">Secrets 查询</a>
                </div>
            </li>
        </ul>
        <span class="navbar-text">
           <a href="{{ urlfor `PasswordController.Modify`}}">欢迎用户{{ .loginuser.Nickname }}</a>
        </span> 
        <form class="form-inline my-2 my-lg-1">
            <a class="btn btn-link navbar-dark bg-dark" href="{{ urlfor `AuthController.Loginout` }}">退出登录</a>
        </form>
    </div>
 </nav>